<ul>
  <%= link_to 'Home', root_path %>
</ul>

<main>
    <h1>Стасон</h1>
    <h2>Эксклюзивный дизайн </h2>
    <hr>
    <section>
        <h2>Сайты на заказ:</h2>
        <ul>
            <li>Быстро</li>
            <li>Дёшево</li>
            <li>Доступно</li>
        </ul>
    </section>
    <section>
        <h2>О Обо мне</h2>
        <p>...</p>
    </section>
</main>